/* Etch-a-sketch stylesheet */

body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
  height: 100vh;
}

.generator {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 30px;
  margin: 15px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 3px black solid;
  min-width: 800px;
  min-height: 800px;
  max-width: 800px;
  max-height: 800px;
  margin-bottom: 20px;
}

.square {
  opacity: 0;
}

.square:hover {
  background-color: rgb(255, 0, 0, 20%);
}
